$primary-blue: #23a6d5;
$secondary-blue: #23d5ab;
$white: #fff;
$black: #000;
$text-color: #eee;
$dark-gray: #333;
$text-lite: #f5f5f5;
$text-dull: #999;

// dark theme colors
$background-color: #070d27;
$navbar-color: #111633;
$nav-text: #cbccd2;
$post-color: #181d37;

$border-color: #575968;

$button-primary: #8c7cf0;
